body {
  background : #EDF6FF;
  font-size: 32px;
}

.bonus-component {
  background-color : white;
  height : 350px;
  margin : 100px auto;
  width : 700px;
  border-radius: 30px;
  padding: 15px;
  font-family: serif;
  box-shadow: 0 10px 6px -6px #777;
  display: none;
}

.top-row {
  margin : 35px;
  padding-top: 10px;
  text-align: justify;
}

.fl {
  float : left;
}

.fr {
  float : right;
}
.row-two{
  margin : 25px 35px 10px 35px;
  padding : 10px;
}

.bonus-row:after {
  content: "";
  display: table;
  clear: both;
}

.five-hundred{
  margin-bottom: 10px;
}

.red-f {
  color : red;
}

.dark-g {
  color : #00D38C;
}

.gold {
  color : #FFBC01;
}
.gray {
  color : #ABAEC1;
  margin-right: 50px;
}
.sea-green {
  color : #C5F8E7;
}
.powerbar {
  margin: 10px 35px 10px 35px;
  background-color: #C5F8E7;
  border-radius: 20px;
}


.powerbar div {
  height : 40px;
  width : 130px;
}

.powerbar-1 {
  background-color: #00D38C;
  border-radius: 20px;
  width: 200px !important;
}
.powerbar-3 {
  background-color: #FFBC01;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bonus-margin {
  margin-left: 70px;
}

.button {
  padding-left: 20px;
  padding-top: 20px;
}


.footer {
  padding-top: 2px;
  height: 36px;
  width: 595px;
  margin-left: 35px;
  color : #ABAEC1;
  display: inline-block;
  font-size: 20px;

}


.fortyeight {
  margin-bottom: 40px;
}
